<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <style>
        body{
            background-color: black;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }
    </style>
</head>
<body>
    <div style="margin: auto;">
        <h1><%= locals.message %></h1>
    </div>
    <%- include('./partials/script') %>
</body>
</html>